In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [3]:
dataset =pd.read_csv('Sale.csv')
df = pd.DataFrame(dataset)
df.head()
df_new = df.drop(columns =['Order Date','Order ID', 'Ship Date', 'Item Type', 'Sales Channel', 'Order Priority',
       'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue','Region'])

In [4]:
print(format(df.keys()))
print(format(df_new.keys()))

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')
Index(['Country', 'Total Cost', 'Total Profit'], dtype='object')

In [5]:
df_new

                  Country  Total Cost  Total Profit
0                  Tuvalu  1582243.50     951410.50
1                 Grenada   328376.44     248406.36
2                  Russia   933903.84     224598.75
3   Sao Tome and Principe    56065.84      19525.82
4                  Rwanda  2657347.52     639077.50
..                    ...         ...           ...
95                   Mali    31825.92      65214.72
96               Malaysia    43367.64      15103.47
97           Sierra Leone   135031.05      93748.05
98                 Mexico   326815.89     144521.02
99             Mozambique  2697132.18     889472.91

[100 rows x 3 columns]

In [6]:
X =df_new.drop(columns =['Country'])

In [7]:
y = df_new['Country']
print(y)

0                    Tuvalu
1                   Grenada
2                    Russia
3     Sao Tome and Principe
4                    Rwanda
              ...
95                     Mali
96                 Malaysia
97             Sierra Leone
98                   Mexico
99               Mozambique
Name: Country, Length: 100, dtype: object

In [8]:
model = DecisionTreeClassifier()
model.fit(X,y, )

DecisionTreeClassifier()

In [9]:
prediction = model.predict([[222243,90]])

C:\Users\abhis\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [10]:
prediction

array(['United Kingdom'], dtype=object)

In [11]:
print("ACCURACY:  {:.2f}".format(model.score(X,y)))

ACCURACY:  1.00

In [12]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91