In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mglearn

In [11]:
dataset = pd.read_csv('Salary_Dataset.csv')

In [12]:
df = pd.DataFrame(dataset)

In [13]:
df[0:50]
df.head
df

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,Full Time,Android
...,...,...,...,...,...,...,...,...
22765,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,Full Time,Web
22766,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,Full Time,Web
22767,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,Full Time,Web
22768,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,Full Time,Web
22769,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,Full Time,Web

In [14]:
df.isna().sum()

Rating               0
Company Name         0
Job Title            0
Salary               0
Salaries Reported    0
Location             0
Employment Status    0
Job Roles            0
dtype: int64

In [15]:
print(format(df.keys()))

Index(['Rating', 'Company Name', 'Job Title', 'Salary', 'Salaries Reported',
       'Location', 'Employment Status', 'Job Roles'],
      dtype='object')

In [16]:
df_new = df.drop(columns=[ 'Salaries Reported',
       'Location', 'Employment Status', 'Job Roles'])

In [17]:
df_new

,Rating,Company Name,Job Title,Salary
0,3.8,Sasken,Android Developer,400000
1,4.5,Advanced Millennium Technologies,Android Developer,400000
2,4.0,Unacademy,Android Developer,1000000
3,3.8,SnapBizz Cloudtech,Android Developer,300000
4,4.4,Appoids Tech Solutions,Android Developer,600000
...,...,...,...,...
22765,4.7,Expert Solutions,Web Developer,200000
22766,4.0,Nextgen Innovation Labs,Web Developer,300000
22767,4.1,Fresher,Full Stack Web Developer,192000
22768,4.1,Accenture,Full Stack Web Developer,300000
22769,3.8,Thomson Reuters,Associate Web Developer,300000

In [18]:
X = df_new.drop(columns=['Job Title','Company Name'])

In [19]:
y = df_new['Job Title']

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
model = DecisionTreeClassifier()

In [22]:
model.fit(X,y)

DecisionTreeClassifier()

In [30]:
prediction =model.predict([[5,1000000],[1,11]])
prediction[0:5]

C:\Users\abhis\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Android Developer', 'Web Developer - Intern'], dtype=object)

In [35]:
print("Accuracy :{:.2f}".format(model.score(X,y)))

Accuracy :0.23

In [ ]:
plt.plot(neighbors_settings, , label="training accuracy")
plt.plot(neighbors_settings, test_accuracy, label="test accuracy")
plt.ylabel("Accuracy")
plt.xlabel("n_neighbors")
plt.legend()